
/*
 * Copyright (C) Ngwsx
 */


#include <ngx_gui.h>


IDD_NGINX DIALOGEX 100, 50, 30, 20
CAPTION "nginx"
FONT 8, "MS Sans Serif"
{
}


IDI_NGINX      ICON DISCARDABLE "ngx_gui.ico"
IDI_NGINX_TRAY ICON DISCARDABLE "ngx_gui_tray.ico"


IDR_NGINX MENU DISCARDABLE
{
    POPUP ""
    {
        POPUP "Options"
        {
            MENUITEM "Autostart tray icon",    ID_AUTORUN
        }
        MENUITEM SEPARATOR
        POPUP "Service"
        {
            MENUITEM "Start service",          ID_START
            MENUITEM "Stop service",           ID_STOP
            MENUITEM "Install service",        ID_INSTALL
            MENUITEM "Uninstall service",      ID_UNINSTALL
        }
        MENUITEM SEPARATOR
        MENUITEM "Help",                       ID_HELP
        MENUITEM "About",                      ID_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "Exit",                       ID_EXIT
        /*MENUITEM SEPARATOR
        MENUITEM "Open",                       ID_OPEN*/
    }
}
