*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pdb
*.pid
*.suo
*.swp
*.user
Makefile
nginx.dmp
nginx.WK3
build/vc7/Debug
build/vc7/Release
build/vc8/Debug
build/vc8/Release
build/vc9/Debug
build/vc9/Release
lib/openssl/MINFO
lib/openssl/Makefile.bak
lib/openssl/crypto/buildinf.h
lib/openssl/crypto/opensslconf.h.bak
lib/openssl/inc32
lib/openssl/ms/libeay32.def
lib/openssl/ms/nt.mak
lib/openssl/ms/ntdll.mak
lib/openssl/ms/ssleay32.def
lib/openssl/ms/version32.rc
lib/openssl/openssl
lib/openssl/out32
lib/openssl/tmp32
lib/pcre/config.h
lib/pcre/pcre.h
lib/pcre/pcre_chartables.c
objs
